.App {
  position: relative;
  text-align: center;
  background-image: linear-gradient(to right, $red-500, $yellow-400);
  max-width: 40em;
  min-height: 30em;
  margin: 2em auto;
  padding: 0.5em 2em 1.5em;
  border-radius: 0.6em;
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 0.95);
  @media (max-width: $max-width-small) {
    height: 100vh;
    margin: 0 auto;
    border-radius: 0;
    padding: 0 0.5em;
    overflow: auto;
  }
}
h1 {
  // background: pink;
  color: $green-300;
  font: 3.4em 'Audiowide', sans-serif;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 0 rgb(-2, 143, -2), 1px 1px 0 rgb(-10, 135, -10), 2px 2px 0 rgb(-17, 128, -17), 3px 3px 0 rgb(-25, 120, -25), 4px 4px 0 rgb(-32, 113, -32), 5px 5px 0 rgb(-40, 105, -40), 6px 6px 0 rgb(-47, 98, -47), 7px 7px 0 rgb(-55, 90, -55),
    8px 8px 0 rgb(-62, 83, -62), 9px 9px 0 rgb(-70, 75, -70), 10px 10px 0 rgb(-77, 68, -77), 11px 11px 0 rgb(-85, 60, -85), 12px 12px 0 rgb(-92, 53, -92), 13px 13px 12px rgba(0, 0, 0, 0), 13px 13px 1px rgba(0, 0, 0, 0.5), 0px 0px 12px rgba(0, 0, 0, 0.2);
}
h2 {
  color: $green-400;
  font-family: 'Audiowide', sans-serif;
}

main {
  min-height: 21em;
  padding: 0 0 1em 0;
  // height: 100%;
}
.flex {
  @media (max-width: $max-width-small) {
    flex-direction: row;
  }

  label {
    flex: 1;
    text-align: right;
    padding-right: 1em;
    @media (max-width: $max-width-small) {
      background: red;
      width: auto;
      text-align: center;
      display: block;
    }
  }
  span {
    flex: 1;
    text-align: left;
    @media (max-width: $max-width-small) {
      background: red;
      width: auto;
      text-align: center;
      display: block;
    }
  }
}

footer {
  display: flex;
  margin: 2em 0 0.5em;
  * {
    flex-grow: 1;
    font-size: 0.9em;
    color: $gray-900;
  }
}

.Hr {
  background-image: linear-gradient(to right, $yellow-400, $red-500);
  height: 1px;
}
button {
  border: 0;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
  &:disabled {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;

    background: $gray-600;
    color: $gray-800;
    box-shadow: none;
    cursor: inherit;
  }
}
