$white: #fff;
$black: #000;

$red-100: #fff5f5;
$red-200: #fed7d7;
$red-300: #feb2b2;
$red-400: #fc8181;
$red-500: #f56565;
$red-600: #e53e3e;
$red-700: #c53030;
$red-800: #9b2c2c;
$red-900: #742a2a;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$green-100: rgb(0, 255, 0);
$green-200: rgb(0, 210, 0);
$green-300: rgb(0, 180, 0);
$green-400: rgb(0, 140, 0);
$green-500: rgb(0, 100, 0);
$green-600: rgb(0, 70, 0);

$yellow-100: rgb(255, 255, 120);
$yellow-200: rgb(255, 255, 70);
$yellow-300: rgb(255, 255, 30);
$yellow-400: rgb(255, 255, 0);
