.GameHeader {
  font-size: 1.3em;
  display: flex;
  padding: 1em;
  justify-content: space-between;
  span {
    display: inline-block;
    font-weight: bold;
    width: 2.5em;
  }
  label {
    display: inline-block;
  }
}
.GameNumber {
  color: $yellow-400;
  flex: 1;
}
.GameTimer {
  color: $red-600;
  flex: 1;
  span {
    &.blink {
      animation: blink 1s linear infinite;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
